    <footer class="footer">
        <nav>
            <ul class="list-group list-unstyle scrollmenu">
                <li class="list-group-item"><h5><b>General</b></h5></li>
                <li class="list-group-item"><a data-target="#header" href="/">Home</a></li>
                <li class="list-group-item"><a data-target="#aboutus" href="/#aboutus">About Us</a></li>
                <li class="list-group-item"><a data-target="#contactus" href="/#contactus">Contact Us</a></li>
                <li class="list-group-item"><a href="/policy">Privacy policy</a></li>
            </ul>
            <ul class="list-group list-unstyle">
                <li class="list-group-item"><h5><b>For Patients</b></h5></li>
                <li class="list-group-item"><a href="/doctors/appointment">Make Appointment</a></li>
                <li class="list-group-item"><a href="/doctors/search">Find Doctor</a></li>
                {{#if user}}
                <li class="list-group-item"><a href="/profile">Account</a></li>
                <li class="list-group-item"><a href="/settings">Settings</a></li>
                {{/if}}
            </ul>
            <ul class="list-group list-unstyle scrollmenu">
                <li class="list-group-item"><h5><b>Medical Prescriptions</b></h5></li>
                <li class="list-group-item"><a href="/prescriptions">Prescriptions</a></li>
                <li class="list-group-item"><a data-target="#5d4b74ff5c63fb2040b21293" href="/#5d4b74ff5c63fb2040b21293">skin Care</a></li>
                <li class="list-group-item"><a data-target="#5d4b74fd5c63fb2040b21292" href="/#5d4b74fd5c63fb2040b21292">Hair Care</a></li>
                <li class="list-group-item"><a data-target="#5d4b75225c63fb2040b21295" href="/#5d4b75225c63fb2040b21295">Weight Control</a></li>
            </ul>
        </nav>
        <hr>
        <p class="text-center lead">All Right Reserved &copy; Medical Care 2019</p>
    </footer>