    <div id="modal-redFlag" class="modal-custom" data-iziModal-group="grupo4">
        <button data-iziModal-close class="icon-close"><i class="fa fa-close"></i></button>
        <section>
            <div class="danger row">
                <div class="col-md-2">
                    <i class="fa fa-exclamation-triangle fa-4x"></i>
                </div>
                
                <div class="col-md-10">
                    <strong> Danger </strong> You have selected a symptom which requires a prompt check with a medical doctor.
                </div>
            </div>
        </section>
    </div>
    